<%= form_for(@message, :url => create_message_path, :method => :post) do |f| %>
  <%= render :partial => "layouts/embed_errors" %>

  <div class="field">
    <input type=hidden name=site_id value=<%= @site.id %> class=".input-xxlarge">
  </div>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Ваше имя", :class => ".input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Телефон (10 цифр)" , :class => ".input-xxlarge"%>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" , :class => ".input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.text_area :message, :rows => 5, :placeholder => " Введите здесь свое сообщение", :class => ".input-xxlarge"%>
  </div>
  <div class="actions">
    <%= f.submit :value => "Отправить", :class => "btn btn-success" %>
  </div>
<% end %>
