<%= form_for(@message, :url => message_path(@message), :method => :put) do |f| %>
  <div class="field">
    <%= f.label "Статус" %>
    <% for i in APP_CONFIG[:status].keys %>
      <%= f.radio_button :status, i, :checked => @message.status == i %>&nbsp;<%= APP_CONFIG[:status][i] %><br>
    <% end %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-success" %>
  </div>
<% end %>
