<h3>Сообщения пользователей</h3>

<table class=table>
  <tr>
    <th>Сайт</th>
    <th>Пользователь</th>
    <th>Телефон</th>
    <th>Email</th>
    <th>Сообщение</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.site.domain %></td>
    <td><%= message.name %></td>
    <td><%= message.phone %></td>
    <td><%= message.email %></td>
    <td><%= message.message %></td>
    <td><%= link_to 'Показать', message %></td>
    <td><%= link_to 'Редактировать', edit_message_path(message) %></td>
    <td><%= link_to 'Удалить', message, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
  </tr>
<% end %>
</table>

