<p id="notice"><%= notice %></p>

<p>
  <b>Сайт:</b>
  <%= @message.site_id %>
</p>

<p>
  <b>Имя ползователя:</b>
  <%= @message.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @message.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @message.email %>
</p>

<p>
  <b>Сообщение:</b>
  <%= @message.message %>
</p>


<%= link_to 'Редактировать', edit_site_message_path(@message) %> |
<%= link_to 'Назад', messages_path %>
