<p id="notice"><%= notice %></p>

<p>
  <b>Сайт:</b>
  <%= @message.site.domain %>
</p>

<p>
  <b>Имя ползователя:</b>
  <%= @message.name %>
</p>

<p>
  <b>Телефон:</b>
  <%= @message.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @message.email %>
</p>

<p>
  <b>Статус:</b>
  <span class="label <%= APP_CONFIG[:label][@message.status.to_i] %>"><%= APP_CONFIG[:status][@message.status.to_i] %></span>
</p>

<p>
  <b>Сообщение:</b>
  <pre><%= @message.message %></pre>
</p>


<%= link_to 'Редактировать', edit_message_path(@message) %> |
<%= link_to 'Назад', messages_path %>
