<div class="jumbotron">
<h2>Выполните вход</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= render :partial => "layouts/devise_errors" %>
  <div><%= f.email_field :email, :autofocus => true, :placeholder => "Email" %></div>
  <div><%= f.password_field :password, :placeholder => "Пароль" %></div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> Входить автоматически</div>
  <% end -%><br>
  <div><%= f.submit "Войти", :class => "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
