<%= form_for(@site) do |f| %>
  <%= render :partial => "layouts/form_errors", :locals => {:item => @site} %>
  
  <div class="field">
    <%= f.text_field :domain, :placeholder => "Домен" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email администратора"  %>
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => "btn btn-success" %>
  </div>
<% end %>
