<p>
  <b>Сайт:</b>
  <%= @site.domain %>
</p>

<p>
  <b>Email администратора:</b>
  <%= @site.email %>
</p>

<p>
  <b>Код формы для вставки на сайт:</b>
  <pre>
    <%= @site.iframe %>
  </pre>
</p>


<%= link_to 'Редактировать', edit_site_path(@site) %> |
<%= link_to 'Назад', sites_path %>
