<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || APP_CONFIG[:app_name] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style>
    body { padding-top: 60px; }
    .jumbotron,.footer { margin: 60px 0; text-align: center }
    .jumbotron h1 { font-size: 72px; line-height: 1; }
    .jumbotron .btn { font-size: 21px; padding: 14px 24px; }
    .marketing { margin: 60px 0; }
    .marketing p + h4 { margin-top: 28px; }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to APP_CONFIG[:app_name], root_url, :class => "brand" %>
        <%= render :partial => "layouts/top_menu" %>
      </div>
    </div>
  </div>


<div class=container>

  <% if flash[:success] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:success] %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div>
    <% if user_signed_in? %><%= render :partial => 'layouts/menu' %><% end %>
    <%= yield %>
    
    <div class="footer">
      <p>
        <%= link_to_unless_current "На главную", root_path %>
        | <%= link_to_unless_current "О проекте", about_page_path %>
        | <%= link_to_unless_current "Контакты", contacts_path %></p>
              <p><%= APP_CONFIG[:app_name] %> &copy; Терехов Руслан 2013</p>
    </div>

  </div>
</div>


</body>
</html>
