<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Feedback' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <style>
    body { padding-top: 2px; }
    .jumbotron,.footer { margin: 5px 0; text-align: center }
    .jumbotron h1 { font-size: 72px; line-height: 1 }
    .jumbotron .btn { font-size: 21px; padding: 10px 14px }
    .marketing { margin: 5px 0  }
    .marketing p + h4 { margin-top: 18px }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=jumbotron>
  <% if flash[:success] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:success] %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
  <% end %>
  <% if flash[:info] %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:info] %>
  </div>
  <% end %>



  <div>
    <%= yield %>
  </div>
</div>


</body>
</html>
